@model QuizQuestionVM
<div class="container-fluid">
    <div id="bigwhite" class="col-md-8" style="margin:3%;float:right">

        <form asp-controller="Quiz" asp-action="Question">

            <h3>@Model.QuestionText</h3>

            @foreach (var answer in Model.Answers)
            {
                <div class="radio" data-toggle="radio">
                    <label><input type="radio" name="answer" value="@answer.AnswerId" />@answer.AnswerText</label>
                </div>
            }

            <input type="submit" value="Next" />

        </form>

    </div>
    <!--HERE IS SIDEBOX-->
    <div class="col-md-3" id="sidebox">
        <div class="row" id="logobox" style="padding-top:10px">
            <img src="~/Images/LearnMVClogo.png" width="170" style="float:left" />
        </div>
        <div>
            @*@Html.Partial("_Sidebar", Model.SidebarVMList)*@
        </div>
    </div>
</div> <!--END ROW-->
