@model int

<div id="bigwhite" class="col-md-8" style="margin:3%;float:right">

    <p>Do you want to reset your progress for this category and play it again?</p>

    <button onclick="ResetCategoryValidated(@Model)">Yes!</button>

    <button onclick="GoToIndex()">No</button>

</div>