@model int

<div id="bigwhite" class="col-md-8" style="margin:3%;float:right">

    <p>Do you want to reset your progress for this category and play it again?</p>

    <button onclick="ResetCategoryValidated(@Model)" class="btn btn-default">Yes!</button>

    <button onclick="GoToIndex()" class="btn btn-default">No</button>

</div>