@{ 
    Layout = "_NoSidebar_Layout";
}
@model ResetCategoryVM

<h4>Do you want to reset your progress for this category and play it again?</h4>

<button onclick="ResetCategoryValidated(@Model.CategoryId)" class="btn btn-default">Yes!</button>

<button onclick="GoToIndex()" class="btn btn-default">No</button>
