@model QuizFinishedVM

<div class="container-fluid">
    <div id="bigwhite" class="col-md-8" style="margin:3%;float:right">
        <h2>Congrats,</h2>
        <h3>NOW YOU CAN MVC!</h3>
        <img src="http://www.animatedimages.org/data/media/56/animated-computer-image-0007.gif" border="0" alt="animated-computer-image-0007" width="700"/>


    </div>
    <!--HERE IS SIDEBOX-->
    <div class="col-md-3" id="sidebox">
        <div class="row" id="logobox" style="padding-top:10px">
            <img src="~/Images/LearnMVClogo.png" width="170" style="float:left" />
        </div>
        <div>
            @Html.Partial("_Sidebar", Model.SidebarArray)
        </div>
    </div>
</div> <!--END ROW-->