@model QuizTextVM
<div class="container-fluid">
    <div id="bigwhite" class="col-md-8" style="margin:3%;float:right">
        <h3>@Model.CategoryName</h3>

        <h4>@Model.TextHeader</h4>
        <p>@Model.TextContent</p>

        <button onclick="Plus()">Next!</button>

        @*<a asp-controller="Quiz" asp-action="Question">Nästa ></a>*@
    </div>
    <!--HERE IS SIDEBOX-->
    <div class="col-md-3" id="sidebox">
        <div class="row" id="logobox">
            <img src="~/Images/LearnMVClogo.png" width="170" style="float:left" />
        </div>
        <div>
            @Html.Partial("_Sidebar", Model.SidebarArray)
        </div>
    </div>
</div>


