@model EditCategoryVM

<div id="bigwhite" class="col-md-8" style="margin:3%;float:right">
    <h3>Redigera quizet, Admin!</h3>
    <h2>Edit Quiz Category   </h2>

    <br />
    UNICORNS!
    <form asp-controller="Admin" asp-action="EditCategory">
        <label asp-for="@Model.CategoryTitle"></label>
        <input asp-for="@Model.CategoryTitle" />
        <span asp-validation-for="@Model.CategoryTitle"></span>

        <button type="submit" class="btn btn-default">Summon Unicorns!</button>
    </form>
</div>