
<h1 style="font-size: 100px; padding-top: 300px;">Hej Magda, style'a på!</h1>

<a asp-controller="Admin" asp-action="AddCategory" style="color:black;">Varsegod! Här får du en ful länk också. (Den går till AddCategory...)</a>