html {
    background: url(images/Background_lighter.png) no-repeat center center fixed;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
}

#flowers {
    background-color: pink;
}
#loginbox {
    border: 5px solid green;
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;

}
#question {

}
