/*The login page and all wrappers are here*/
html, .container-fluid {
    background: url(images/Background_lighter.png) no-repeat center center fixed;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    
    background-size: cover;
}

h1, h2 {
    font-family: 'Trajan Pro';
}

p, h3, label, h4, button, input, a {
    font-family: 'Raleway', sans-serif;
}

h3, h2, h1 {
    font-weight: bold;
}
#logoandbox{
    padding-left:20px;
    padding-right:20px;
}
#loginbox {
    /*border: 5px solid green;*/
    border-radius: 10px;
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: whitesmoke;
    max-width:430px;
}
/*Here are the index and question page stuffsiez*/
#bigwhite {
    border-radius: 5px;
    margin: 0 auto;
    /*margin-top: 100px;*/
    padding: 20px;
    background-color: whitesmoke;
    height: 90vh;
}

#progressContent > p, #progressContent > button {
    margin-left: 20px;
}
/*THE SIDEBAR*/
#sidebox {
    background-color: whitesmoke;
    height: 100vh;
}
#sidebarz {
    color: black;
    margin-top: 10px;
}
#sidebarzItem {
    background-color: #46b4ed;
}
#sidebarzItemDone {
    background-color: #ff76df;
}
#sidebarzItem, #sidebarzItemDone {
    margin: 4px;
    padding: 3px;
    opacity: 0.8;
    color: black;
    border-radius:5px;
    /*border:3px solid white;*/
}

