@model SidebarVM[]
<div id="sidebarz">
    <div class="row" id="knappochhero">

        <div class="col-md-8">
            <div class="row" onclick="GoToIndex()">
                <img src="~/Images/super.png" height="40" /> My Profile
            </div>
        </div>
        <div class="col-md-4">
            <button onclick="Logout()" class="btn btn-default" style="float:right">Log out</button>
        </div>

    </div>
    @foreach (var category in Model)
    {
        if (category.IsDone)
        {
            <div id="sidebarzItemDone" onclick="ResetCategory(@category.CategoryID)">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            @category.CategoryName <br />
                        Completed
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="~/Images/Check.png" width="50" style="padding-top:10px;float:right;padding-right:10px;" />
                </div>
            </div>
        </div>
        }
        else
        {
            <div id="sidebarzItem" onclick="DoStuff(@category.CategoryID)">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            @category.CategoryName <br />
                            Go!
                        </p>
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>

            </div>
        }
    }
</div>