@model SidebarVM[]
<div id="sidebarz">
    @foreach (var category in Model)
    {
        if (category.IsDone)
        {
            <div id="sidebarzItemDone" onclick="DoStuff(@category.CategoryID)">
                <div class="row">
                    <div class="col-md-6">
                        <p>@category.CategoryName <br />
                        Completed</p>
                    </div>
                    <div class="col-md-5">
                        <img src="~/Images/Check.png" width="50" style="padding-top:10px;float:right;padding-right:10px;" />
                    </div>
                </div>
            </div>
        }
        else
        {
            <div id="sidebarzItem" onclick="DoStuff(@category.CategoryID)">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            @category.CategoryName <br />
                        Go!
                    </p>
                    </div>
                    <div class="col-md-5">

                    </div>
                </div>

            </div>
        }
    }
</div>