@model SidebarVM[]
<div id="sidebarz">
    @foreach (var category in Model)
    {
        if (category.IsDone)
        {
            <div id="sidebarzItemDone" onclick="DoStuff(@category.CategoryID)">
                <span>KLAR!</span>
                <!--NEJ TILL ATT HA FUL LINK HÄR. SKA VARA ONCLICK.-->
                @category.CategoryName <br />
                Extract <br />
                Completed
            </div>
        }

        <div id="sidebarzItem" onclick="DoStuff(@category.CategoryID)">

            @category.CategoryName <br />
            Extract <br />
            Completed
        </div>
    }
</div>