@model SidebarVM[]
<div id="sidebarz">
    @foreach (var category in Model)
    {
        if (category.IsDone)
        {
            <div id="sidebarzItemDone" onclick="DoStuff(@category.CategoryID)">
                <span>KLAR!</span>
                <!--NEJ TILL ATT HA FUL LINK HÄR. SKA VARA ONCLICK.-->
                @category.CategoryName <br />
                Extract <br />
                Completed
            </div>
        }
        else
        {
            <div id="sidebarzItem" onclick="DoStuff(@category.CategoryID)">
                <div class="row">
                    <div class="col-md-6">
                        @category.CategoryName <br />
                        Extract <br />
                        Completed
                    </div>
                    <div class="col-md-5">
                        <img src="~/Images/Check.png" width="30" />
                    </div>
                </div>

            </div>
        }
    }
</div>