@model SidebarVM[]
<ul>
    @foreach (var category in Model)
    {
        <li>
            @if (category.IsDone)
            {
                <span>KLAR!</span>
            }
            <a asp-controller="Quiz" asp-action="Text" asp-route-id="@category.CategoryID">@category.CategoryName</a>
        </li>
    }
</ul>