@model int
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>HTTP-Fel @Model</title>
</head>
<body>
    <div id="bigwhite" class="col-md-8" style="margin:3%;float:right">
        <h1>Oops...</h1>
        <p>Ett HTTP-fel inträffade: @Model</p>
    </div>
</body>
</html>
