<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Server-fel</title>
</head>
<body>
    <div id="bigwhite" class="col-md-8" style="margin:3%;float:right">
        <h1>Oops...</h1>
        <p>Ett server-fel inträfffade.</p>
    </div>
</body>
</html>
