@model MembersLoginVM

<div class="container" id="loginbox">
    <h3>Log in</h3>
    <br />

    <form asp-controller="Members" asp-action="Login">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
        <br />

        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <br />

        <input type="submit" />
    </form>
    <br />
    <a asp-controller="Members" asp-action="Register">Not a member yet? Join us now!</a>
</div>
