@{
    Layout = "_NoSidebar_Layout";
}
@model MembersLoginVM

<!--HEADER HAPPENS HERE-->
@Html.Partial("_NoSidebarHeader", Model.HeadersVM)

<!--FORM HAPPENS HERE-->
<br />

<form asp-controller="Members" asp-action="Login">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
    <br />
    <br />

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <br />

    <button type="submit" class="btn btn-default">Go!</button>
</form>
<br />
<a asp-controller="Members" asp-action="Register">Not a member yet? Join us now!</a>
