@{
    Layout = "_NoSidebar_Layout";
}
@model MembersLoginVM
<!--HEADER HAPPENS HERE-->
@Html.Partial("_NoSidebarHeader", Model.HeadersVM)

<!--FORM HAPPENS HERE-->
<br />

<form asp-controller="Members" asp-action="Login" style="text-align:center">
    <div class="row">
        <div class="col-md-4">
            <label asp-for="UserName"></label><br />
            <br />
            <label asp-for="Password"></label>
            <br />
            <br />
            <button type="submit" class="btn btn-default">Go!</button>
        </div>
        <div class="col-md-8">
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span><br />
            <br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

    </div>
</form>
<br />
<a asp-controller="Members" asp-action="Register">Not a member yet? Join us now!</a>
