@model MembersRegisterVM

<div class="container" id="loginbox">
    <h3>Welcome to Learn MVC! First, register:</h3>
    <br />
    <form asp-controller="Members" asp-action="Register">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
        <br />
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
        <br />
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>

        <br />
        <input type="submit" />
    </form>

</div>