@model int

<div id="bigwhite" class="col-md-8" style="margin:3%;float:right">

    <p>Do you want to reset all of your progress? This cannot be undone.</p>

    <button onclick="ResetProgressValidated(@Model)">Yes!</button>

    <button onclick="GoToIndex()">No</button>

</div>